@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro:300,400,600&display=swap");
body {
  background-color: #7452a3;
}

nav {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

nav div h1 {
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #99f7e2;
  font-size: 36px;
  font-weight: 400;
}

.main {
  padding-top: 210px;
  padding-left: 10%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main section h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #99f7e2;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.5;
}

.main section p {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 2;
  font-weight: 300;
}

.main aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mouse {
  padding-bottom: 70px;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.white {
  background-color: #fff;
  padding-top: 250px;
  padding-right: 10%;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.white aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.white section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3%;
}

.white section h3 {
  color: #7452a3;
  font-size: 45px;
}

.white section p {
  font-size: 18px;
  font-weight: 400;
  color: #060606;
}

.white section a {
  color: #67b3ff;
  font-size: 18px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */